* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

header {
    margin-bottom: 10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(190, 190, 255);
}

header div {
    width: 40px;
}

header div img {
    width: 100%;
    height: 100%;
}

h1 {
    margin-left: 10px;
}

main {
    padding: 5px;
    font-size: 1.3rem;
}

.duda {
    padding: 0px 10px;
    margin-bottom: 10px;
}

.duda a {
    text-decoration: none;
    color: rgb(0, 0, 255);
    font-weight: bold;
}

.contenedor {
    margin-bottom: 50px;
    padding: 5px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
}

.tituloSimulacion {
    font-size: 1.75rem;
    font-weight: normal;
}

.tituloSimulacion span {
    font-weight: bold;
}

.contenedor form {
    margin: 10px 0px;
}

.contenedor form div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 1px;
    row-gap: 10px;
}

.contenedor-input {
    padding: 5px 0px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(190, 190, 255);
}

.contenedor-input input {
    width: 200px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 1.3rem;
    background-color: rgb(250, 250, 250);
}

.contenedor form button, .botonGrafico {
    margin-top: 10px;
    width: 125px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    background-color: rgb(220, 220, 220);
    transition: transform 0.1s;
    font-size: 1.3rem;
}

.contenedor form button:hover, .botonGrafico:hover {
    background-color: rgb(180, 180, 180);
}

.contenedor form button:active, .botonGrafico:active {
    border: 2px solid rgb(0, 0, 0);
    transform: scale(0.95);
    background-color: rgb(200, 200, 200);
}

.seUsoLaFormula {
    margin-top: 10px;
    text-align: start;
    font-size: 1.1rem;
}

.seUsoLaFormula span {
    font-weight: bold;
}

#teoria {
    padding: 5px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
}

#teoria h2 {
    font-size: 1.75rem;
    text-align: center;
}

#teoria p {
    margin-top: 20px;
}

.nota {
    font-size: 90%;
}

.nota span {
    font-weight: bold;
}

#creditos {
    position: fixed;
    right: 2vw;
    bottom: 1vh;
    transition: transform 0.5s;
    font-size: 0.9rem;
}

#creditos:hover {
    transform: scale(1.1);
}

#creditos a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.resultadoNegrita {
    color: green;
    font-weight: 700;
}

@media screen and (max-width: 560px){
    main {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 718px){
    .tituloSimulacion, #teoria h2 {
        font-size: 1.4rem;
    }
    
    .duda {
        font-size: 1.1rem;
    }
}
